.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
  display: flex;
  padding: 2rem 20%;

  @media screen and (max-width: 500px) {
    padding: 1rem 1rem;
  }
}

.app__profiles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.app__profile-item {
  width: 30%;
  height: 270px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-width: 0.005px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-top: 1rem;

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  h4,
  p {
    padding: 0.1rem 1rem;
  }
}
