#home {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.app__header {
  flex: 1;
  width: 100%;
  flex-direction: row;
  background-color: #0d54cb;
  padding: 0px 20%;

  @media screen and (max-width: 900px) {
    padding: 1rem 1rem;
    flex-direction: column;
  }
}

.app__header-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  flex-direction: column;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }
}
