.app {
  background-color: var(--white-color);
  font-family: var(--font-base);
}

.app__whitebg {
  background-color: var(--white-color);
}
.app__full-banner-item {
  width: 100%;

  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .app__full-banner-image {
    margin-block: auto;
    margin: 2rem;

    img {
      max-width: 600px;

      @media screen and (max-width: 1350px) {
        width: 400px;
      }
    }
  }

  .app__full-banner-text {
    width: 300px;
    margin-block: auto;
    max-height: 400px;

    @media screen and (max-width: 1000px) {
      margin: 2rem;
    }

    .head-text {
      color: var(--white-color);
      text-align: left;
    }
    .p-text {
      pointer-events: none;
      padding: 10%;
      border-radius: 10px;
    }
  }
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--skyBlue-color);
  color: var(--white-color);
  border-radius: 10px;
  border-style: none;
  padding: 5px 10px;
  margin-top: 5px;

  &:hover {
    background-color: var(--darkBlue-color);
  }
}

.head-text {
  font-size: 2.3rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);

  span {
    color: var(--secondary-color);
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.large-text {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--darkBlue-color);
  text-align: left;

  span {
    color: var(--secondary-color);
  }

  @media screen and (max-width: 900px) {
    text-align: center;
  }
}

.large-text-centered {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: var(--darkBlue-color);
  text-align: center;

  span {
    color: var(--secondary-color);
  }

  @media screen and (max-width: 450px) {
    font-size: 1.2rem;
  }
}

.p-text-black {
  font-size: 0.8rem;
  text-align: left;
  color: var(--black-color);
  line-height: 1.5;
}

.p-text-white {
  font-size: 0.8rem;
  text-align: left;
  color: var(--white-color);
  line-height: 1.5;
}

.featured-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--black-color);
  line-height: 1.5;
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--vividBlue-color);
  text-align: left;

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }
}

.no-text-transform {
  text-transform: none !important;
}

.p-text-responsive {
  @media screen and (max-width: 1200px) {
    width: 300px !important;
  }
}
