@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
:root {
  --font-base: "Heebo", sans-serif;
  --vividBlue-color: #0e5fe3;
  --black-color: #191919;
  --lightGrayishBlue-color: #f6f7f8;
  --skyBlue-color: #2ab7fe;
  --darkBlue-color: #0a49af;
  --white-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

