.app__work {
  flex: 1;
  width: 100%;
  flex-direction: row;
  background-color: var(--lightGrayishBlue-color);
  padding: 0px 20%;

  @media screen and (max-width: 900px) {
    padding: 1rem 1rem;
    flex-direction: column;
  }
}
